{% extends 'cycle_independent_base.html' %}
{% load humanize %}


{% block content %}

<div>
<h2> {{donor.bindg_name}} </h2>
<dl class="dl-horizontal">
    <dt> Employer </dt> <dd> {{donor.employer}}</dd>
    <dt> Occupation </dt> <dd> {{donor.occupation}}</dd>
    <dt> Total contributed 2022 </dt> <dd> ${{donor.contribution_total_2022|floatformat:2|intcomma}}</dd>
</dl>
</div>

<div>
<h3> 2022 Contributions </h3>
<table class='table'>
    <tr>
        <th>Committee</th>
        <th>Date</th>
        <th>Amount</th>
    {% for contrib in contribs2022 %}
    </tr>
    <tr>
        <td>{{contrib.committee_name}}</td>
        <td>{{contrib.contribution_date_formatted}}</td>
        <td>${{contrib.contribution_amount|intcomma}}</td>
    </tr>
    {% endfor %}
</table>
</div>


{% endblock %}